@import "../abstracts/mixins";
@import "../abstracts/variables";

body, html {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body .hide-scrollbar, html .hide-scrollbar {
  scrollbar-width: none
}

body .hide-scrollbar::-webkit-scrollbar, html .hide-scrollbar::-webkit-scrollbar {
  display: none
}


img::selection {
  background-color: transparent;
}

.default-icon {
  width: 100%;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.--relative {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

.overlap {
  position: relative;
  z-index: 3;
}

body {
  &.overflow-hidden {
    padding-left: calc(100vw - 100%);
    overflow: hidden;

  }
}


.full-height, body, html {
  height: 100%;
}

.body-padding {
  height: 194px;
  @media (max-width: $breakpoint-md) {
    height: 52px;
  }
}

.section {
  overflow: hidden;
  position: relative;

  padding-top: 195px;
  @media (max-width: $breakpoint-md) {
    padding-top: 100px;
  }

  &-heading {
    font-weight: bold;
    @include fontSize(24, 48);
    line-height: 1.25;
    color: #333333;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 10px;
    }
  }

  &-text {
    color: #333333;

    & span {
      color: $accentColor;
    }
  }

  &-wrap {
    background-color: #2E3050;
    border-radius: 4px;;
    @media (max-width: $breakpoint-md) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }


  &-inner {
    position: relative;
    padding: 0 0 102px 0;
    overflow: hidden;
  }


  & .swiper {
    &-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      display: grid;
      grid-template-columns: 62px 62px;
      @media (max-width: $breakpoint-md) {
        grid-template-columns: 46px 46px;
      }

      &__prev, &__next {
        position: relative;
        background-color: #FFFFFF;
        border: 2px solid #F0F0F0;

        width: 62px;
        height: 62px;
        margin: 0;
        color: #251C10;
        @include transition(.4);
        @media (max-width: $breakpoint-md) {
          border-width: 1px;
          bottom: 1px;
          width: 46px;
          height: 46px;
        }

        &:after {
          content: "";
          font-family: 'icomoon' !important;
          @include fontSize(18, 23);
          font-weight: bold;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
          @include transition(.4);
        }

        &:hover {
          color: $whiteColor;
          border-color: #C19600;
          background-color: #C19600;
        }
      }

      &__prev {
        &:after {
          content: "\e900";
        }

        &:hover {
          &:after {
            left: 40%;
          }
        }
      }

      &__next {
        &:after {
          content: "\e901";

        }

        &:hover {
          &:after {
            left: 60%;
          }
        }
      }
    }

    &-pagination {
      position: relative;
      @include fontSize(24, 36);
      letter-spacing: 0.065em;
      color: #C19600;
      line-height: 1;
      width: 66.666664%;
      text-align: right;
      padding: 34px 10px;
      z-index: 1;
      bottom: 0;
      @media (max-width: $breakpoint-md) {
        padding: 11px 10px;
      }

      &-current {
        @include fontSize(24, 36);
        font-weight: bold;
      }

      &-total {
        @include fontSize(12, 18);
        font-weight: normal;
      }
    }
  }

  &-js {
    opacity: 0;

    &.load {
      opacity: 1;
    }
  }
}


.main {
  overflow: hidden;

  &-wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
  }
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: '';
  display: none;
}