@import "../abstracts/mixins";
@import "../abstracts/variables";

.editor {
  margin-bottom: 20px;
  &-style {
    font-family: 'Gilroy', sans-serif;
    font-weight: normal;

    & p {
      font-weight: normal;
      @include fontSize(12, 14);
      line-height: 1.7;
      letter-spacing: 0.02em;

      margin-bottom: 24px;

    }

    & h2, & h3, & h4, & h5, & h6 {
      font-weight: bold;
      margin-bottom: 16px;
    }

    & h2 {
      @include fontSize(20, 24);
      line-height: 1.5;
    }

    & h3 {
      font-size: 30px;
      line-height: 47px;
      margin-bottom: 8px;
    }

    & h4 {
      @include fontSize(16, 18);
      line-height: 1.444;
    }

    & h5 {
      @include fontSize(14, 16);
    }

    & h6 {
      @include fontSize(12, 14);
    }

    h4, h5, h6 {
      margin-bottom: 24px;
    }

    & a {
      color: $accentColor;
      text-decoration: none;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $accentColor;
        @include transition(.3);
      }

      &:hover {
        &:before {
          content: '';
          width: 0;
        }
      }
    }

    & img {
      margin: 0 auto;
      @media (min-width: $breakpoint-lg) {

      }
      @media (max-width: $breakpoint-lg) {
        height: 100%;
        max-height: 400px;
        object-fit: contain;

      }
    }

    & .aligncenter {
      margin: 0 auto;
    }

    & .wp-block-image {

      margin-bottom: 24px;

      & img {
        height: 400px;
        border-radius: 0;
        width: 100%;
        object-fit: cover;
      }

      & figcaption {
        margin: 5px 0 15px 0;
      }
    }


    & ul, & ol {
      margin-bottom: 20px;

      & li {
        font-weight: normal;
        font-size: 14px;
        @include fontSize(10, 14);
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #010101;
        position: relative;
        padding-left: 15px;
        margin-bottom: 12px;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);

        }
      }
    }

    & ul {
      & li {
        &:before {
          content: "";

          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 4px;
          height: 4px;
          border-radius: 100%;

        }
      }
    }

    & ol {
      & li {
        counter-increment: list;

        &:before {
          content: counter(list) ".";
          width: 12px;

          font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
          font-weight: 400;
        }
      }
    }

    & blockquote {
      padding: 60px 0 0 0px;
      position: relative;
      text-align: center;
      width: 100%;
      margin: 0 auto;
      @media (max-width: $breakpoint-lg) {
        padding: 60px 0 0 0;
        width: 100%;
      }

      &, & p {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
      }

      /* &:before {
         content: '';
         width: 78px;
         height: 78px;
         background: url("../img/quote.svg") center center no-repeat;
         background-size: contain;
         position: absolute;
         top: 0;
         left: 50%;
         transform: translate(-50%);
         z-index: -1;
         @media (max-width: $breakpoint-lg) {
           content: '';
           width: 55px;
           height: 55px;
         }
       }*/
    }
  }
}